:root {
    --black: rgb(21,21,21);
    --dark-gray: rgb(31,31,31);
    --white: rgb(245,245,245);
    --darker-white: rgb(236,236,236);
}

body {
    font-family: bree-serif;
    margin: 0px;
    color: var(--white);
    background: var(--darker-white);
    overflow-x: hidden;
}

@font-face {
    font-family: bree-serif;
    src: url('assets/BreeSerif-Regular.ttf');
}

header {
    background: var(--dark-gray);
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
}

.left, header ul {
    display: flex;
    align-items: center;
}

header ul li {
    margin: 24px;
    list-style: none;
    color: var(--white);
}

a {
    color: white;
    font-size: 1.5em;
}

.logo-name {
    margin-left: 24px;
    font-size: 1.5em;
}

.logo {
    height: 50px;
    transition: all 200ms ease-in-out;
}

.Welcome-Header{
    margin-top: 4vh;
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    width: 100vw;
    height: 300vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 0px;
}
.First-Header{
    font-size: 50px;
}

h4{
    margin-top: 1vh;
}

.CenterImage{
    margin-top: 2vh;
    height: 50vw;
}

.KnightGif{
    height: 400px;
    width: 15vw;
    object-fit: cover;
    position: relative;
    top: 175px;
}

.About-Us{
    color: var(--black);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.Top-Section{
    display: flex;
    gap: 48px;
    width: 100vw;
    justify-content: center;
}

.Top-Section-Text p{
    width: 45vw;
    font-size: 25px;
    font-weight: 100;
}

.Paragraph-Text{
    height: 50vh;
    width: 40vw;
    font-size: 18px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.About-Chess-Horse{
    color: var(--black);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.Bottom-Section{
    display: flex;
    gap: 48px;
    width: 100vw;
    justify-content: center;
}

.Bottom-Section-Text p{
    width: 40vw;
    font-size: 25px;
    font-weight: 100;
}

.Bottom-Paragraph-Text{
    height: 35vh;
    width: 40vw;
    font-size: 20px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.KnightPNG{
    height: 400px;
    width: 15vw;
    object-fit: cover;
    position: relative;
    top: 100px;
}

/*FOOTER*/

footer {
    color: white;
    margin-top: 100vh; /*Leta efter bättre lösning*/
    background: var(--white);
    background: var(--dark-gray);
    height: 20vh;
}

.credits {
    display: flex;
    justify-content: space-between;
    height: 20vh;
    width: 100vw;
    align-items: center;
}

.credit-right a img {
    width: 32px;
}

.left-credits, .credit-right {
    margin: 0px 5%;
    display: flex;
}

.left-credits .logo-name {
    font-size: 2em;
}

.credit-right {
    display: flex;
    flex-direction: column;
}

.credit-contributors {
    font-size: 2em;
}

.link-section {
    display: flex;
    justify-content: start;
}

.link-name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.link-container a {
    display: flex;
    justify-content: center;
}

/*ANIMATION*/

header a {
    color: white;
    font-size: 1.5em;
    transition: all 200ms ease-in-out;
  
}
  
header a:hover {
    color:  purple;
    font-size: 30px;
}

.ig {
    transition: all 200ms ease-in-out;
}

.ig:hover {
    transform: scale(1.5);
}

.submit:hover {
    transform: scale(1.3);
}

.logo:hover {
    transform: scale(1.4);
}

@media (max-width: 1024px){

    .CenterImage{
        width: 80vw;
    }

    .Top-Section-Text{
        height: 110vh;
    }
    
    .Paragraph-Text{
        height: 105vh;
    }

    .About-Chess-Horse{
        margin-top: 50vh;
    }

    .Bottom-Paragraph-Text{
        margin-top: 15vh;

    }   


    span{
        margin: 1vh;
    }
}    

@media (max-width: 768px){

    .CenterImage{
        width: 70vw;
    }

    .Top-Section-Text{
        height: 105vh;
    }
    
    .Paragraph-Text{
        height: 120vh;
    }

    .About-Chess-Horse{
        margin-top: 90vh;
    }

    .Bottom-Paragraph-Text{
        margin-top: 27vh;

    }   


    span{
        margin: 2vh;
    }
}    

@media (max-width: 425px){

    .First-Header{
        font-size: 20px;
    }

    .CenterImage{
        width: 90vw;
    }

    .Top-Section-Text{
        height: 105vh;
    }

    .Top-Section-Text p{
        margin-top: 3vh;
        font-size: 15px;
    }
    .Paragraph-Text{
        height: 120vh;
        margin-top: 30vh;
        font-size: 15px;
    }

    .About-Chess-Horse{
        margin-top: 100vh;
        font-size: 15px;
    }

    .Bottom-Paragraph-Text{
        margin-top: 40vh;
        font-size: 15px;
    }   

    .Bottom-Section-Text{
        font-size: 15px;
        margin-top: 20vh;
    }

    .Bottom-Section-Text p{
        font-size: 15px;
    }


    span{
        margin: 2vh;
    }
}    

@media screen and (max-width: 1000px) {
    .tournament-title {
        font-size: 1.2em;
    }

    .highlight-text {
        font-size: 0.8em;
    }

    .contact-title {
        font-size: 2em;
    }

    label, input {
        font-size: 1em;
    }

    .submit {
        width: 100%;
        margin-right: 0px;
    }
}

@media screen and (max-width: 900px) {
    .highlights img {
        width: 300px;
        height: 900px;
    }
}

@media screen and (max-width: 700px) {
    ul li a {
        font-size: 1.3em;
    }

    header ul li {
        margin: 12px;
    }

    .tournament-title {
        font-size: 1em;
    }

    .card-container {
        margin-bottom: 30vh;
    }

    .highlight-text {
        font-size: 0.6em;
    }

    .highlight-text-container {
        justify-content: space-evenly;
    }

    input {
        width: 150px;
    }

    textarea {
        height: 150px;
    }

    .contact-title {
        font-size: 1.5em;
    }

    .contact-container {
        gap: 20px;
    }

    .contact-text {
        font-size: 0.8em;
    }

    .left-credits .logo-name {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 500px) {
    .highlights img {
        display: none;
    }

    .highlights-container .title {
        font-size: 3em;
    }

    .card-container {
        margin-bottom: 40vh;
    }

    .logo-name {
        font-size: 1em;
    }

    ul li a {
        font-size: 0.8em;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-text {
        width: 80vw;
        align-self: center;
    }

    .contact-title {
        width: 80vw;
        align-self: center;
    }

    footer {
        margin-top: 15vh;
    }

    form {
        width: 80vw;
        margin-bottom: 5vh;
    }

    .left-credits .logo-name {
        font-size: 0.8em;
    }

    .credit-contributors {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 500px) {
    ul li a {
        font-size: 0.8em;
    }

    .left {
        width: 150px;
    }

    header ul li {
        margin: 4px;
    }

    ul {
        padding: 0px;
    }
    
    .card-container {
        margin-bottom: 50vh;
    }

    footer {
        margin-top: 220vh;
    }
}