:root {
    --black: rgb(21,21,21);
    --dark-gray: rgb(31,31,31);
    --white: rgb(245,245,245);
    --darker-white: rgb(236,236,236);
}

body {
    font-family: bree-serif;
    margin: 0px;
    color: var(--white);
    background: var(--darker-white);
    overflow-x: hidden;
}

@font-face {
    font-family: bree-serif;
    src: url('assets/BreeSerif-Regular.ttf');
}

header {
    background: var(--dark-gray);
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
}

.left, header ul {
    display: flex;
    align-items: center;
}

header ul li {
    margin: 24px;
    list-style: none;
    color: var(--white);
}

a {
    color: white;
    font-size: 1.5em;
}

.logo-name {
    margin-left: 24px;
    font-size: 1.5em;
}

.logo {
    height: 50px;
}

.Welcome-Header{
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 0px;
}
.First-Header{
    font-size: 50px;
}

h4{
    margin-top: 0px;
}

.CenterImage{
    height: 750px;
}

.KnightGif{
    height: 400px;
    width: 300px;
    object-fit: cover;
    position: relative;
    top: 175px;
}

.About-Us{
    color: var(--black);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.Top-Section{
    display: flex;
    gap: 48px;
}

.Top-Section-Text p{
    width: 750px;
    font-size: 25px;
    font-weight: 100;
}

.Paragraph-Text{
    height: 475px;
    width: 750px;
    font-size: 17.5px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.About-Chess-Horse{
    color: var(--black);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.Bottom-Section{
    display: flex;
    gap: 48px;
}

.Bottom-Section-Text p{
    width: 750px;
    font-size: 25px;
    font-weight: 100;
}

.Bottom-Paragraph-Text{
    height: 475px;
    width: 750px;
    font-size: 17.5px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}