:root {
  --black: rgb(21, 21, 21);
  --dark-gray: rgb(31, 31, 31);
  --white: rgb(245, 245, 245);
  --darker-white: rgb(236, 236, 236);
  --extra-black: rgb(0, 0, 0);
}

body {
  font-family: bree-serif;
  margin: 0em;
  overflow-x: hidden;
}

@font-face {
  font-family: bree-serif;
  src: url("assets/BreeSerif-Regular.ttf");
}

header {
  background-color: var(--dark-gray);
  height: 15vh;
  display: flex;
  justify-content: space-between;
  padding: 0em 24px;
}

.logo {
  height: 50px;
  transition: all 200ms ease-in-out;
}

.position {
  display: flex;
  position: absolute;
  font-size: 3em;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 36px;
}

.flex {
  display: flex;
  margin-bottom: 10px;
}

.size {
  width: 100vw;
  height: 60vh;
  background: black;
  object-fit: cover;
}

.left,
header ul {
  display: flex;
  align-items: center;
}

header ul li {
  margin: 1.8em;
  list-style: none;
  color: var(--white);
}

a {
  color: white;
  font-size: 1.5em;
  transition: all 200ms ease-in-out;
}

a:hover {
  color: purple;
  font-size: 30px;
}

.logo-name {
  margin-left: 24px;
  font-size: 1.5em;
  color: white;
}

.welcome-image {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  opacity: 0.6;
}

.welcome-text {
  position: absolute;
  margin: 2em;
}

.title {
  font-size: 4em;
}

.sub {
  font-size: 1.5em;
}

.image-container {
  display: flex;
  align-items: center;

  margin-left: 0.5em;
}

.image-container img {
  width: 50vw;
  height: 50vh;
  border-radius: 1em;
}

.text-container {
  flex-grow: 1;
}

.text-container h3 {
  margin: 0.5em;
  font-size: 2em;
  color: black;
  text-align: center;
}

.text-container p {
  margin-top: 5px;
  color: var(--black);
  padding: 1em;
}

.body2 {
  margin-left: 15vw;
  margin-right: 15vw;
}

/*FOOTER*/

footer {
  margin-top: 48px;
  color: white;
  background: var(--white);
  background: var(--dark-gray);
  height: 20vh;
}

.credits {
  display: flex;
  justify-content: space-between;
  height: 20vh;
  width: 100vw;
  align-items: center;
}

.credit-right a img {
  width: 32px;
}

.left-credits,
.credit-right {
  margin: 0px 5%;
  display: flex;
}

.left-credits .logo-name {
  font-size: 2em;
}

.credit-right {
  display: flex;
  flex-direction: column;
}

.credit-contributors {
  font-size: 2em;
}

.link-section {
  display: flex;
  justify-content: start;
}

.link-name {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.link-container a {
  display: flex;
  justify-content: center;
}

header a {
  color: white;
  font-size: 1.5em;
  transition: all 200ms ease-in-out;
}

header a:hover {
  color: purple;
  font-size: 30px;
}

.ig {
  transition: all 200ms ease-in-out;
}

.ig:hover {
  transform: scale(1.5);
}

.submit:hover {
  transform: scale(1.3);
}

.animation:hover {
  transform: scale(1.4);
}

@media (max-width: 1000px) {
  .welcome-image {
    width: 100vw;
  }
  .text-container p {
    font-size: 12px;
  }
  .image-container img {
    object-fit: contain;
  }
}
@media (max-width: 680px) {
  .welcome-image {
    width: 100vw;
  }
  .image-container img {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  ul li a {
    font-size: 1.3em;
  }

  header ul li {
    margin: 12px;
  }

  .tournament-title {
    font-size: 1em;
  }

  .card-container {
    margin-bottom: 30vh;
  }

  .highlight-text {
    font-size: 0.6em;
  }

  .highlight-text-container {
    justify-content: space-evenly;
  }

  input {
    width: 150px;
  }

  textarea {
    height: 150px;
  }

  .contact-title {
    font-size: 1.5em;
  }

  .contact-container {
    gap: 20px;
  }

  .contact-text {
    font-size: 0.8em;
  }

  .left-credits .logo-name {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 500px) {
  .highlights img {
    display: none;
  }

  .highlights-container .title {
    font-size: 3em;
  }

  .card-container {
    margin-bottom: 40vh;
  }

  .logo-name {
    font-size: 1em;
  }

  ul li a {
    font-size: 0.8em;
  }

  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-text {
    width: 80vw;
    align-self: center;
  }

  .contact-title {
    width: 80vw;
    align-self: center;
  }

  footer {
    margin-top: 15vh;
  }

  form {
    width: 80vw;
    margin-bottom: 5vh;
  }

  .left-credits .logo-name {
    font-size: 0.8em;
  }

  .credit-contributors {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 500px) {
  ul li a {
    font-size: 0.8em;
  }

  .left {
    width: 150px;
  }

  header ul li {
    margin: 4px;
  }

  ul {
    padding: 0px;
  }

  .card-container {
    margin-bottom: 50vh;
  }

  footer {
    margin-top: 25vh;
  }
}
