:root {
  --black: rgb(21, 21, 21);
  --dark-gray: rgb(31, 31, 31);
  --white: rgb(245, 245, 245);
  --darker-white: rgb(236, 236, 236);
  --extra-black: rgb(0, 0, 0);
}

body {
  font-family: bree-serif;
  margin: 0px;

}

@font-face {
  font-family: bree-serif;
  src: url("assets/BreeSerif-Regular.ttf");
}

header {
  background-color: var(--dark-gray);
  height: 20vh;
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
}

.logo {
  height: 50px;
}

.position {
  display: flex;
  position: absolute;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 36px;
}

.flex {
  display: flex;
  margin-bottom: 10px;
}

.size {
  width: 100vw;
  height: 60vh;
  background: black;
  object-fit: cover;
}

.left,
header ul {
  display: flex;
  align-items: center;
}

header ul li {
  margin: 24px;
  list-style: none;
  color: var(--white);
}

a {
  color: white;
  font-size: 1.5em;
}

.logo-name {
  margin-left: 24px;
  font-size: 1.5em;
  color: white;
}

.welcome-image {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  opacity: 0.7;
}

.welcome-text {
  position: absolute;
  margin: 40px;
}

.title {
  font-size: 4em;
}

.sub {
  font-size: 1.5em;
}

.image-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 10px;
  
}

.image-container img {
  display: flex;
  width: 60vw;
  height: 60vh;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  border-radius: 15px;
  object-fit: cover;

}

.text-container h3 {
  display: flex;
  margin: 3px;
  font-size: 40px;
  color: black;
  justify-content: center ;
  
}

  

.text-container p { 
  display: flex;
  margin-top: 5px;
  color: var(--black);
  margin-left: 5px;

}

